H1{
    text-align: center;
    background-color: rosybrown;
}
h2{
    text-align: center;
}
h3{
    text-align: center;
    background-color: rosybrown;
}
p{
    font-style: italic;
    font-weight: bold;
}
.JUJUY{
    color: black;
}