h1{
    background-color: rosybrown;
    text-align: center;
}
h2{
    
    
}
h3{background-color: rosybrown;
    text-align: center;
}
h4{background-color: rosybrown;
    text-align: center;
    
}
h5{
    text-align: center;
}
p{
    color: brown;
    font-weight: bold;
    font-style:italic;
}
.PEPE{
    color: blue;
}
.OJO{
    color: white;
    background: #655151;
background: linear-gradient(79deg,#655151 2%, #9d5151 20%);
background: -webkit-linear-gradient(79deg,#655151 2%, #9d5151 20%);
background: -moz-linear-gradient(79deg,#655151 2%, #9d5151 20%);
box-shadow: black 2px 1px 1px;
}
.JEJE{
    color: black;
    border-radius: 40px; 
    border: 1px solid black;
    width: 200px;
    padding: 45px;
}
.LORO{
    color: black;
    font-size: 20px;
}
